.container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 4em 5%;
}

.profile-img {
  width: 10em;
  height: 10em;
  border-radius: 100%;
}

h1, h2 {
  border-bottom: 4px solid lightgrey;
}

img {
  width: 100%;
  border: 4px solid lightgrey;
  border-radius: 10px;
}

header, section, footer {
  padding-top: 4em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 0 10px lightgrey;
}

nav .nav-header {
  font-weight: bold;
  padding: 1em;
}

nav li {
  display: inline-block;
  padding: 1em;
}

nav a {
  color: black;
}

.crossout {
  text-decoration: line-through;
  color: lightgrey;
}
